# Dependencies & Virtual Environments
__pycache__/
*.pyc
*.pyo
*.pyd
.env
env/
venv/
ENV/

# System and OS Files
.DS_Store
Thumbs.db
*.tmp
*.log

# IDE & Editor files
.vscode/
.idea/
*.swp

# Media caches
*.mp4
